body{
    background-image: url('./bcg_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;     
    
}
h1{
    text-align:center;
    font-family:'Raleway';
    padding:30px;
    margin-bottom: -10px;
    /* margin-top: 50px; */
}
h2{
    text-align:center;
    font-family:'Raleway';
    padding:30px;
    margin-bottom: -10px;
}
b{font-family: 'Raleway'}
table{
    width:100%;
    padding:5px;
    margin:auto;
    justify-content: center;
    background: white;
    border-radius:3px;
    height: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

th {
color:#D5DDE5;;
background:#1b1e24;
border-bottom:4px solid #9ea7af;
border-right: 1px solid #343a45;
font-size:23px;
font-weight: 100;
padding:24px;
text-align:left;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
vertical-align:middle;
}
tr:hover {
background:#4E5066;
color:#FFFFFF;
border-top: 1px solid #22262e;
}

tr.up {
text-align: center;
}

a{
justify-content: center;
}

.opo{
    position: relative;
    width: 100%;
    
    padding-left: 15px;
}

