body {
     
    background-image: url('./Untitled-2.svg');
    background-size:cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
  }
  
  .FormField{
    width: 400px;
    height: 450px;
    /* background: :#000; */
    /* color: #fff; */
    top: 25%;
    left:57%;
    position: absolute;
    box-sizing: border-box;
    padding: 40px 30px;
    box-shadow: 0 .20rem .20rem rgba(0,0,0,0.2),
    0 0 .09rem rgba(0,0,0,0.2);
    border-radius: 6px;
  }
  
  h1{
    font-family: 'Raleway';
    text-align: center;
    font-size: 30px;
    color: 000000;
    margin-bottom: 40px
  }
  
  .FormField p{
    
    font-weight: bold;
  }
  
  .FormField input{
    
    margin-bottom: 10%;
    border: none;
    
  }
  
  .FormField input[type="text"], input[type="email"], input[type="tel"]{
    width:100%;
    border-bottom: 1px solid rgb(78, 70, 116);
    background: transparent;
    font-size: 16px;
    font-family: 'Raleway'
  
  }
  .FormField__Button {
    width:100%;
    background-color: #52C4B9;
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 15px 70px;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
    float: right;
    font-family: 'Raleway'
  }
 
  .logo{
    background-image: url("./logo.png");
    width :200px;
    height :70px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: auto;
    }

  .FormField__label{
   font-family: 'Raleway'
    }
  .FormField__checkbox{
  background-color: #eee;
  }
  .FormField__checkbox input:checked{
      background-color: #2196F3;
    
  }