body {
    
    background-image: url('./Untitled-2.svg');
    background-size:cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
  }
  
  .FormField{
    width: 320px;
    height: 420px;
    /* background: :#000; */
    /* color: #fff; */
    top:50%;
    left:75%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }
  
  h1{
    
    text-align: center;
    font-size: 22px;
    color: 000000;
  
  }
  
  .FormField p{
    
    font-weight: bold;
  }
  
  .FormField input{
    width:100%;
    margin-bottom: 10%;
    border: none;
    
  
  }
  
  .FormField input[type="text"], input[type="email"], input[type="tel"]{
    border:1;
    border-bottom: 1px solid black;
    background: transparent;
    /* outline: none; */
    color: black;
    font-size: 16px;
  
  }
  .FormField__Button {
    background-color: #52C4B9;
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 15px 70px;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
    float: right;
    margin-bottom: 10px;
  }